.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  gap: 30px;
}
main, header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  width: 100%;
  gap: 20px;
}
.pokemon {
  text-align: center;
  border-radius: 5%;
  background-color: var(--button-base);
  transition: all .5s ease;
}
.pokemon:hover {
  border: 1px solid #fff;
  cursor: cell;
  
}

.pagination {
  display: flex;
  align-items: center;
  gap: 50px;
}

.container-pokemon {
  background-color: var(--button-base);
  width: 100%;
  display: grid;
  border-radius: 5%;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.pokeCard {
  width: 100%;
  padding: 20px;
}

.sprites > src{
  width: 100%
}

.listiing {
  display: flex;
  justify-content: space-around;
  
}