.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.pokemons {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  width: 100%;
  gap: 20px;
}
.pokemon {
  text-align: center;
  border-radius: 5%;
  background-color: var(--button-base);
  transition: all .5s ease;
}
.pokemon:hover {
  border: 1px solid #fff;
  cursor: cell;
  
}

.pagination {
  display: flex;
  align-items: center;
  gap: 50px;
}